<h1>Not possible.</h1>
<h2>You do not have enough funds in your account.</h2>

Click <a href="/account">here</a> to go back to your account overview

<a href="/logout">Log Out</a> to log out of the Bank app.